*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background: linear-gradient( to right, #63D471, #233329 );
}
.wrapper{
    width: 70%;
    margin: 50px auto;
    text-align: center;
}

h1{
    margin: 20px;
    font-size: 6rem;
    color: darkseagreen;
}
.dice-area{
    margin: 0 50px;
    text-align: center;
    display: inline-block;
}
.player{
    font-size: 2.5rem;
    color: antiquewhite;
}
img{
    width: 320px;
}